<nav>
    <div>
        <a hrtef="/index"><h1>Blog Page</h1></a>
        <p>Welcome</p>
    </div>
    <ul>
        <li><a href="/index">Blogs</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>