<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"); %>
</head>
<body>
    <%-include("./partials/nav.ejs"); %>

    <div class="about content">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur esse autem similique praesentium reiciendis maxime eius optio est quisquam? Hic delectus labore praesentium voluptate possimus reiciendis explicabo distinctio vitae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur esse autem similique praesentium reiciendis maxime eius optio est quisquam? Hic delectus labore praesentium voluptate possimus reiciendis explicabo distinctio vitae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur esse autem similique praesentium reiciendis maxime eius optio est quisquam? Hic delectus labore praesentium voluptate possimus reiciendis explicabo distinctio vitae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur esse autem similique praesentium reiciendis maxime eius optio est quisquam? Hic delectus labore praesentium voluptate possimus reiciendis explicabo distinctio vitae.</p>
    </div>
    <%- include("./partials/footer.ejs"); %>
</body>
</html>